.astro/
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
dist_old_*/
dist_locked_*/
node_modules/.vite_locked_*/
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# build tooling caches
.eslintcache
*.tsbuildinfo
coverage/
